doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js', type='text/javascript')
    script(src='https://www.gstatic.com/charts/loader.js', type='text/javascript')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='javascripts/sketch.js', type='text/javascript')
    
  body
    block content
